@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default (Light Mode) */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Dark Mode */
.dark {
  --background: #171717; /* Dark background */
  --foreground: #ffffff; /* Light text */
}

/* Apply Smooth Transition */
html {
  @apply transition-colors duration-300;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
